@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* univesal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

/* notes container styles */
.notesContainer{
    min-height: 100vh;
    display:grid;
    grid-template-columns: 350px 400px;
    grid-template-areas: 
    "input-container result-container result-container result-container"
    "input-container result-container result-container result-container"
    "input-container result-container result-container result-container";
}

/* notes container items styles */
.userInputContainer{
    grid-area: input-container;
    text-align:center;
    padding: 20px 0px;
    border: 0.9px solid grey;

}

/* result container */
.resultContainer{
    grid-area: result-container;
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 4rem 5rem;
}

.notesItemInner{
    height: 5vh;
    min-width: 20vw;
    min-height: 35vh;
    border-radius: 15px;
    box-shadow: 0px 2px 5px;
    display:flex;
    flex-direction: column;
    padding: 10px 10px;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

.notesItemInner:hover{
    transform: scale(1.03);
}

/* inner input container */

.innerInputCon{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px 20px;

}

.innerInputCon input[type = "text"]{
    padding: 0px 15px;
    height: 5vh;
    border-radius: 20px;
    border: 0.9px solid grey;
    background-color: white;
    filter: brightness(94%);
}

.innerInputCon textarea{
    border: 0.9px solid grey;
    padding: 10px 10px;
    border-radius: 25px;
}

.innerInputCon button {
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    background: linear-gradient(to right, black, orange);
    color: white;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

.innerInputCon button:hover{
    cursor: pointer;
    transform:scale(1.04);
    filter: brightness(90%);
}

/* colors container */
.availableColors{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 1.6rem;
    height: 44vh;
}

.availableColors .color{
    border-radius: 100%;
    width: 1vw;
    height: 2vh;
}

.availableColors .blue{
    background-color: blue;
}

.availableColors .red{
    background-color: red;
}

.availableColors .violet{
    background-color: violet;
}

.availableColors .orange{
    background-color: orange;
}


/* media queries */

/* large screens */
@media (max-width: 1024px){

   

    .notesItemInner{
        width: 30vh !important;
        min-height: 29vh !important;
    }

    .notesItemInner h1{
        font-size: 1.8rem;
    }


    .availableColors .color{
        width: 1.7vw;
    }
}

/* tablet screens */
@media (max-width: 768px){

    .notesContainer{
        grid-template-columns: 250px 400px;
    }

    .innerInputCon textarea{
        height: 20vh;
    }

    .availableColors .color{
        width: 2.5vw;
    }
}

/* mobile screens */
@media (max-width: 600px){

    .availableColors .color{
        width: 2.6vw;
        height: 1.8vh;
    }

    .notesItemInner{
        width: 40vw !important;
        min-height: 25vh !important;
    } 

    .notesContainer {
        display: flex;
        flex-direction: column;
    }
    
    .userInputContainer, .resultContainer {
       width: 100%;
    }

    .resultContainer{
        display:flex;
        justify-content:center;
        align-items:center;
    }
}


